---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app rook-ceph-cluster
spec:
  chartRef:
    kind: OCIRepository
    name: *app
  interval: 1h
  values:
    toolbox:
      enabled: false
    cephFileSystems: []
    cephBlockPools:
      - name: ceph-blockpool
        spec:
          replicated:
            size: 1
            requireSafeReplicaSize: false
        storageClass:
          enabled: true
          name: ceph-block
          isDefault: true
          reclaimPolicy: Delete
          allowVolumeExpansion: true
          volumeBindingMode: Immediate
    configOverride: |
      [global]
      osd_pool_default_size=1
      osd_pool_default_min_size = 1
    cephClusterSpec:
      dashboard:
        enabled: true
      cleanupPolicy:
        wipeDevicesFromOtherClusters: true
      storage:
        useAllNodes: true
        nodes:
          - name: control-plane-2
            devices:
              - name: nvme1n1
          - name: control-plane-1
            devices:
              - name: nvme0n1
      resources:
        mgr:
          requests:
            cpu: 100m
            memory: 256Mi
        mon:
          requests:
            cpu: 100m
            memory: 512Mi
        osd:
          requests:
            cpu: 100m
            memory: 512Mi
      mon:
        count: 2
        allowMultiplePerNode: false
    cephFileSystems: []
